html, body, div, form, fieldset, legend, label { margin: 10; padding: 10;  }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

:root {
  --c-primary: rgb(209, 197, 173);
  --c-secondary: rgba(200, 200, 200, 0.85);
  --c-tertiary: hsl(88, 25%, 11%, 0.5);

  --v-space: 2rem;
  --canvas-height: 80vh;
  --f-weight: 1000;
  --border-radius: min(10vw, var(--v-space));
}

html {
  font-size: 16px;
  background: rgb(15, 15, 16);
  font-family: monospace;
  color: var(--c-secondary);
  box-sizing: border-box;
}

a {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

a:hover {
  text-decoration: underline;
}

main {
  gap : 10px;
  display: grid;
  grid-template-columns: 1fr 6fr 4fr 1fr;
  grid-template-rows: 1fr 3fr auto;
  grid-template-areas:
    ". header header ."
    ". intro . ."
    ". entry entry .";
}

.type-comp {
  font-weight: var(--f-weight);
  font-size: 1.25rem;
}

.type-role {
  font-weight: var(--f-weight);
  font-size: 1.75rem;
}

.entry {
  grid-area: entry;
}

.entry-item {
  z-index: 2;
  background: var(--c-tertiary);
  backdrop-filter: saturate(200%) blur(50px);
  -webkit-backdrop-filter: saturate(200%) blur(50px);
  position: relative;
  padding: calc(var(--v-space) / 2) 0;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". co description .";
}

.entry-item:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.entry-item:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.entry-co {
  grid-area: co;
}

.entry-co a {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.entry-comp {
  background-image: radial-gradient(ellipse, #4A90E2, #353535);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
}

.entry-title {
  background-image: radial-gradient(ellipse, #ffffff, #4A90E2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2em;
  display: block;
  line-height: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.entry-subtitle {
  background-image: radial-gradient(ellipse, #19d2eb, #064389);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1.5em;
  display: block;
  line-height: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.entry-role {
  background-image: linear-gradient(45deg, #7F8C8D, #16A085);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  line-height: 1;
}

.entry-time {
  background-image: radial-gradient(circle, #1ABC9C, #2C3E50);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  line-height: 1;
}

.entry-description {
  background-image: linear-gradient(45deg, #7F8C8D, #16A085);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  grid-area: description;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@media only screen and (max-width: 800px) {
  :root {
    --v-space: 2rem;
  }
  main {
    grid-template-columns: 1fr 10fr 0fr 1fr;
  }
  .entry-item {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      ". hr hr ."
      ". co co ."
      ". description description .";
  }
}

.mode-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
}

.mode-label {
  font-size: 30px; 
  font-family: monospace;
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4A90E2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}